html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

/* default: white background, sans serif font */
body {
    color: darkgray;
    font-family: Arial, Helvetica, serif;
    background-color: greenyellow;
}

header {
    background-color: whitesmoke;
    height: 50px;
    overflow: hidden;
    width: 100%;
}

h2 {
    float: left;
    position: relative;
    color: limegreen;
    font-size: 80px;
    left: -15px;
    top: -21px;
    margin: 0;
    display: inline-block;
}

#elementSelectionDiv {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    display: inline-block;
}

button {
    cursor: pointer;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: white;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    padding: 4px 12px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    background: rgb(98, 196, 98); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(98, 196, 98, 1) 0%, rgba(81, 163, 81, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(98, 196, 98, 1)), color-stop(100%, rgba(81, 163, 81, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(98, 196, 98, 1) 0%, rgba(81, 163, 81, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(98, 196, 98, 1) 0%, rgba(81, 163, 81, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(98, 196, 98, 1) 0%, rgba(81, 163, 81, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(98, 196, 98, 1) 0%, rgba(81, 163, 81, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0); /* IE6-9 */
}

#removeButton{
    background: rgb(238,95,91); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(238,95,91,1) 0%, rgba(189,54,47,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,95,91,1)), color-stop(100%,rgba(189,54,47,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(238,95,91,1) 0%,rgba(189,54,47,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(238,95,91,1) 0%,rgba(189,54,47,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(238,95,91,1) 0%,rgba(189,54,47,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(238,95,91,1) 0%,rgba(189,54,47,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee5f5b', endColorstr='#bd362f',GradientType=0 ); /* IE6-9 */
}

#wrapper {
    width: 700px;
    margin: 0 auto;
}

/* subsection titles for the parameter area */
h3 {
    color: #000055;
    font-size: 14px;
}

/* region to display an error */
#error {
    color: white;
    font-weight: bold;
    background-color: red;
    display: none;
}

/* canvas to perform 2d graphcis */
#drawing_area {
    box-shadow: 1px 0px 5px black;
}

/* container to display editable parameters */
#param_area {
    text-align: center;
    width: 98%;
    padding: 1%;
    box-shadow: 0px 1px 5px black;
    background-color: white;
}

/* all input elements get a fixed width */
input[type=text] {
    border-radius: 4px;
    border: 1px solid grey;
    padding: 5px;
    width: 40px;
}

input[type=number]{
    border-radius: 4px;
    border: 1px solid grey;
    padding: 5px;
    width: 40px;
}

input[type=color]{
    vertical-align: middle;
    padding: 2px;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(230,230,230,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
}